<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Страница №{{current_page}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../static/favicon.ico" type="image/png">
    <link rel="stylesheet" href="../static/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="mx-auto" style="width: 550px;">
      <nav aria-label="...">
        <ul class="pagination">
      {% if current_page==1 %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
      {% else %}
          <li class="page-item">
            <a class="page-link" href="../pages/index{{current_page-1}}.html" tabindex="-1" aria-disabled="true">Назад</a>
      {% endif %}
    {% for page in range(1,11) %}
    {% if current_page==page %}
          <li class="page-item active" aria-current="page">
          <a class="page-link" href="../pages/index{{current_page}}.html">{{current_page}}<span class="sr-only">(current)</span></a></li>
    {% else %}
          <li class="page-item"><a class="page-link" href="../pages/index{{page}}.html">{{page}}</a></li>
        
    {% endif %}
    {% endfor %}
      {% if current_page>10 %}
          <li class="page-item active" aria-current="page">
          <a class="page-link" href="index{{current_page}}.html">{{current_page}}<span class="sr-only">(current)</span></a></li>
      {% endif %}
      {% if current_page==number_pages %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Вперёд</a>
      {% else %}
          <li class="page-item">
            <a class="page-link" href="index{{current_page+1}}.html">Вперёд</a>
      {% endif %}
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
      {% for item_1 in items_1 %}
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/{{item_1.img_src}}" class="card-img" alt="...">
                  </div>
                    <div class="col-md-8">
                  <div class="card-body">
                  <h5 class="card-title">{{item_1.title}}</h5>
                  <p class = "card-text">{{item_1.author}}</p>
                {% for genre in item_1.genres %}
                  <span class="badge badge-light">{{genre}}</span>
                {% endfor %}
                  <p class = "card-text"></p>
                  <a target="_blank" href="/{{item_1.book_path}}">Читать</a>
                </div>
              </div>
            </div>
          </div> 
      {% endfor %} 
        </div>
        <div class="col">
      {% for item_2 in items_2 %}
          <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/{{item_2.img_src}}" class="card-img" alt="...">
                  </div>
                    <div class="col-md-8">
                  <div class="card-body">
                  <h5 class="card-title">{{item_2.title}}</h5>
                  <p class = "card-text">{{item_2.author}}</p>
                {% for genre in item_2.genres %}
                  <span class="badge badge-light">{{genre}}</span>
                {% endfor %}
                  <p class = "card-text"></p>
                  <a target="_blank" href="/{{item_2.book_path}}">Читать</a>
                </div>
              </div>
            </div>
          </div> 
      {% endfor %}
        </div>    
        <div class="w-100"></div>
      </div>
    </div>
  </body>
</html>